body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    margin-top: 20vh;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.register-button, .register-button:hover {
    background-color: #28a745; /* Green */
}

.login-button:hover {
    background-color: #0056b3;
}

/* Dropdown Styling */
.input-group select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    cursor: pointer;
}
